.SetGoalModal {
  background-color: #fff;
  padding: 3rem;
  width: 100%;
  height: 105rem;
}

.title {
  font-size: 1.5rem;
  font-family: 'Roboto';
  margin-bottom: 1.5rem;
  color: #333;
}

.buttonsContainer {
  max-width: 30rem;
  display: flex;
  padding-left: 1.4rem;
}

.error {
  font-size: 1rem;
  margin: 1rem auto;
  color: red;
}

@media only screen and (min-width: 500px) {
  .SetGoalModal {
    box-shadow: 0 0rem 1rem #999;
    height: auto;
    width: 55rem;
    overflow: initial;
  }
}

@media only screen and (min-width: 600px) {
  .SetGoalModal {
    width: 60rem;
    padding: 3.5rem 5rem 3.5rem 3.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .SetGoalModal {
    height: auto;
    padding: 3rem;
    border-radius: 0.1rem;
    box-shadow: 0 0.5rem 1.5rem #333;
    width: 75rem;
  }
}

@media only screen and (min-width: 840px) {
  .SetGoalModal {
    padding: 5rem 7rem 3rem 5rem;
    min-width: 85rem;
    max-width: 120rem;
  }
}
