.DialogActions {
  /* margin-bottom: 3rem !important; */
  width: 45rem;
}

.DialogTitle {
  /* padding: 4rem !important;
  font-size: 2.5rem;
  font-family: 'Roboto'; */
  margin: 4rem auto 0 !important;
  font-size: 2.4rem;
  font-weight: 500;
  font-family: 'Roboto';
  max-width: 35rem;
  text-align: center;
  line-height: 1.5;
}

/* .ModalLogout__btn--logout {
  color: inherit;
} */
