.App {
  display: flex;
}

.main {
  display: flex;
}

.main__right {
  flex: auto;
}

@media only screen and (max-width: 768px) {
  .main__container {
    margin-top: 10rem;
  }
}

@media (min-width: 1280px) {
  .main__right {
    background-color: #eee;
  }
}
