.App {
  display: flex;
}

.main {
  display: flex;
  background-color: #eee;
}

.main__right {
  flex: auto;
  background-color: #eee;
}

@media only screen and (min-width: 500px) {
  .main__container {
    margin-top: 10rem;
  }
}

@media only screen and (min-width: 969px) {
  .main__container {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .main__right {
    background-color: #eee;
    /* padding: 0 5rem; */
  }
}
