@media only screen and (min-width: 768px) {
  .header {
    background-color: transparent;
    margin: 29px 0;
    height: 4.3rem;
  }
  .header__logo {
    display: none;
  }
  .header__icon.more {
    display: none;
  }
  .header__icons {
    position: unset;
    /* top: 79px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 29px 0;
  }
  .header__date {
    position: absolute;
    top: 29px;
    width: 100%;
    text-align: center;
  }
  .header__router.logout {
    position: unset;
    margin-left: 3rem;
    line-height: 4.3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header__icons {
    position: unset;
    width: 20rem;
    margin-left: 1.4rem;
    /* top: 79px; */
    /* display: initial; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* margin: 29px 0; */
  }
}
