@media only screen and (min-width: 769px) {
  .header {
    background-color: transparent;
    margin: 2.8rem 0;
    height: 4.3rem;
    width: 100%;
  }

  .header__logo {
    display: none;
  }

  .header__icon.more {
    display: none;
  }

  .header__icons {
    position: relative;
    top: 0;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 29px 0;
  }

  .header__router.logout {
    position: unset;
    margin-left: 3rem;
    margin: 29px 0;
    padding: 0;
    text-align: center;
    line-height: 4.3rem;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 1280px) {
  .header__icons {
    position: unset;
    width: 20rem;
    margin-left: 1.4rem;
  }
}
