@media only screen and (min-width: 768px) {
  .header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    display: none;
  }
  .header__icon.more {
    display: none;
  }
  .header__icons {
    position: unset;
    /* top: 79px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 29px 0;
  }
  .header__date {
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .header__router.logout {
    position: unset;
    margin-left: 3rem;
    line-height: 4.3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header__icons {
    position: unset;
    width: 20rem;
    margin-left: 1.4rem;
  }
}
