.header {
  background-color: #0c3351;
  color: #c5cdcd;
  font-size: 1rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo,
.header__icon > span,
.logout {
  font-family: 'Roboto Bold';
  font-size: 1.2rem;
}
.header__icon.more {
  margin-left: 0.6rem;
}
.header__router {
  color: #c5cdcd;
  line-height: 100%;
}
.header__router > span {
  display: none;
}
.header__router.dashboard {
  margin: 0 2rem 0 1.3rem;
}
.header__icons {
  z-index: 100;
}
.header__icon {
  fill: #c5cdcd;
  z-index: 1;
}

.header__date {
  position: absolute;
  bottom: 0;
  height: 6.5rem;
  background-color: #0c3351;
  width: 100vw;
}
.header__logo {
  position: absolute;
  width: 100vw;
  text-align: center;
  z-index: 0;
}
.logout {
  text-align: right;
  margin-right: 1.5rem;
  z-index: 1;
}
@media only screen and (max-width: 320px) {
  .header__date {
    padding: 1.1rem;
  }
}
/* Transitions */
.header__router > span,
.header__icon,
.logout {
  transition-duration: 0.3s;
}
.header__router:hover > .header__icon {
  fill: #f6e;
}
.header__router:hover {
  color: #f6e;
}
