.header__date {
  height: 6.5rem;
  background-color: #0c3351;
  width: 100vw;
  padding: 1.1rem;
}

.datePicker {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.datePicker__arrow {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
  color: #c5cdcd;
  cursor: pointer;
  user-select: none;
}

.datePicker__dateNow {
  width: 50px;
  height: 43px;
  background-color: #fc842c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  margin: 0 1.6rem;
  user-select: none;
}

.dateNow__month {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 0.5rem;
}

.dateNow__day {
  font-size: 2rem;
  line-height: 1rem;
}

.arrow__next {
  transform: rotate(180deg);
}

.arrow__prev,
.arrow__next {
  width: 2rem;
  height: 2rem;
  fill: #c5cdcd;
  margin: 0 0.5rem;
}

/* Transitions */
.datePicker__arrow,
.arrow__prev,
.arrow__next {
  transition-duration: 0.3s;
}

.datePicker__arrow:hover {
  color: #f6e;
}

.datePicker__arrow:hover .arrow__prev,
.datePicker__arrow:hover .arrow__next {
  fill: #f6e;
}

@media only screen and (min-width: 768px) {
  .header__date {
    padding: 0;
    background-color: transparent;
    width: 25rem;
    height: 4.3rem;
  }
}

@media only screen and (min-width: 969px) {
  .header__date {
    width: 30rem;
  }
}
