.Sidebar {
  flex: 0 0 260px;
  height: 100vh;
  background-image: linear-gradient(
      rgba(38, 63, 96, 0.9),
      rgba(38, 63, 96, 0.9)
    ),
    url('../../assets/images/Mouintains1@1X.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  z-index: 10;
  position: fixed;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}
.Sidebar_show {
  transform: translateX(0);
  z-index: 100;
}

.Title {
  padding: 4rem 0 0 2.5rem;
}

.Link {
  display: none;
}

.closeSidebar {
  position: absolute;
  top: 15px;
  left: 7px;
  margin-left: 0.6rem;
  cursor: pointer;
  fill: #c5cdcd;
}

@media screen and (min-width: 969px) {
  .Sidebar {
    position: initial;
    transform: none;
    z-index: 10;
  }

  .Link {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
  }

  .closeSidebar {
    display: none;
  }
}
