.Sidebar {
  flex: 0 0 260px;
  /* flex: 0 0 calc(100%-260px); */
  height: 100vh;
  background-image: linear-gradient(
      rgba(38, 63, 96, 0.9),
      rgba(38, 63, 96, 0.9)
    ),
    url('../../assets/images/Mouintains1@1X.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.Title {
  padding: 4.3rem 0 0 2.5rem;
}
.Link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .Sidebar {
    position: fixed;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }
  .Sidebar_show {
    transform: translateX(0);
  }
}
