.container {
  height: calc(100vh - 176px);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #b9c3c840 transparent;
  padding-bottom: 2rem;
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
}

.List {
  padding-left: 22px;
  padding-right: 14px;
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track-piece {
  height: 50px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b9c3c840;
  border-radius: 15px;
  max-height: 30px;
  outline: none;
}
